<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.divvy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Controllers.UserLoginController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailedListingsController"></activity>
        <activity android:name=".Controllers.DisplayListingsController" />
        <activity android:name=".Controllers.SearchController" />
        <activity android:name=".Controllers.MyListingsController" />

        <activity android:name=".Controllers.CreateListingController" />
        <activity android:name=".Controllers.MessagingActivity" />
        <activity android:name=".Controllers.UserSignUpController" />
        <activity android:name=".Controllers.UserProfileActivity" />
        <activity android:name=".Controllers.MainActivity"/>


        <service
            android:name=".httprequest"
            android:exported="false" />
        <service android:name=".GetListingsService" />
    </application>

</manifest>
